<tr>
    <td>{{ material.reference }}</td>
    <td>
        {{ material.name }}
        {% if material.properties is not empty %}
            <br />
            {% for property in material.properties %}
                {{ include('blocks/materials/property.twig', { property }) }}
            {% endfor %}
        {% endif %}
    </td>
    <td class="right lighter">
        {{ (material.replacement_price ?? 0)|format_currency(currency, locale=locale) }}
    </td>
    <td class="center">
        {{ material.stock_quantity }}
    </td>
    <td class="center"></td>
</tr>
