{% extends 'emails/base-with-code.twig' %}

{% block title -%}
    Code de réinitialisation de mot de passe
{%- endblock %}

{% block content %}
    <p>Bonjour,</p>
    <p>
        Une demande de réinitialisation de mot de passe a été reçue pour
        le compte <strong>Loxya</strong> associé à votre adresse e-mail.
        <br /><br />
        Pour continuer, veuillez utiliser le code de vérification suivant&nbsp;:
    </p>
    <div class="code">
        {% for char in code|split('') %}
            <span class="code__letter">{{ char }}</span>
        {% endfor %}
    </div>
    <p>
        Ce code est valable pendant {{ codeDuration }} minutes.<br /><br />
        Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer ce message.
    </p>
    <p>
        <strong>{{ organization.name }}</strong><br />
        {{ organization.email }}<br />
        {{ organization.phone }}
    </p>
{% endblock %}