{% extends 'pdf/base.twig' %}

{% block title %}{{ __('estimate') }}{% endblock %}

{% block content %}
<table class="layout-table">
    <tr>
        <td class="half">
            {{-
                include('blocks/company-address.twig', {
                    company: billingCompany,
                    showLegalNumbers: true,
                    showLogo: true,
                })
            ~}}
        </td>
        <td class="half">
            {% set currencyName = currency|currency_name(locale)|ucfirst -%}
            <h2 class="box center">{{ __('estimate-title', currencyName) }}</h2>
            <table class="layout-table spaceBottom5">
                <tr>
                    <td class="size12">{{ __('on-date', date|format_date('short', locale=locale))|ucfirst }}</td>
                    <td class="size12 right">{{ __('page', 1) }}</td>
                </tr>
            </table>
            <p>{{ __('beneficiary') }}</p>
            <h2>
                {{- include('blocks/beneficiary.twig', { beneficiary }) ~}}
            </h2>
        </td>
    </tr>
</table>

<div class="{{ showMobilizationPeriod or showBookingDescription ? 'spaceBottom5' : 'vspace5' }}">
    <p class="strong">{{ __('event', booking.title) }}</p>
    <p class="strong">
        {{ booking.period|format_period('full', locale=locale)|ucfirst -}}
        {% if booking.location %}, {{ __('in-location', booking.location) }}{% endif ~%}
    </p>
    {%- if showMobilizationPeriod ~%}
    <p class="lighter">
        {{ __('pickup-date', [booking.mobilizationPeriod|format_period_start('short', locale=locale)]) }}<br />
        {{ __('return-date', [booking.mobilizationPeriod|format_period_end('short', locale=locale)]) }}
    </p>
    {% endif -%}
    {%- if showBookingDescription and booking.description is not empty -%}
    <p>{{ booking.description|nl2br }}</p>
    {% endif -%}
    {%- if showTotalReplacementPrice -%}
    <p>{{ __('total-replacement-amount', [totalReplacement|format_currency(currency, locale=locale)]) }}</p>
    {% endif -%}
    <table>
        <thead>
            <tr>
                <th>{{ __('category') }}</th>
                <th class="center">{{ __('quantity') }}</th>
                {%- if isLegacy ~%}
                <th class="right">{{ __(hasTaxes ? 'daily-total-excl-tax' : 'daily-total') }}</th>
                {%- else ~%}
                <th class="right">{{ __(hasTaxes ? 'total-excl-tax' : 'total') }}</th>
                {%- endif ~%}
            </tr>
        </thead>
        <tbody>
            {%- for category in categoriesSubTotals ~%}
            <tr>
                <td>
                    {%- if category.id == '__UNCATEGORIZED__' -%}
                        {{ __('not-categorized') }}
                    {%- elseif category.id == '__OTHER__' -%}
                        {{ __('category-other') }}
                    {%- else -%}
                        {{ category.name }}
                    {%- endif -%}
                </td>
                <td class="center">{{ __n('items-count', category.quantity) }}</td>
                <td class="right">
                    {{ category.subTotal|format_currency(currency, locale=locale) }}
                </td>
            </tr>
            {%- endfor ~%}
        </tbody>
    </table>
    <p class="size8 lighter">{{ __('note-detail-next-page') }}</p>
</div>

{% if isLegacy %}
<div class="vspace5 size8">
    <table class="totals-table totals-table--legacy">
        <thead>
            <tr>
                <th>{{ __('daily-total') }}</th>
                <th>{{ __('degressive-rate') }}</th>
                {%- if hasGlobalDiscount ~%}
                <th>{{ __('discount') }}</th>
                {%- endif ~%}
                <th colspan="2">{{ __('totals') }}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="center">
                <td>
                    <div class="vspace2">
                        {{ dailyTotal|format_currency(currency, locale=locale) }}
                    </div>
                </td>
                <td>
                    <div class="vspace2">
                        ×&nbsp;<strong>{{ degressiveRate|format_number(locale=locale) }}</strong>
                        <span class="lighter">({{ __n('number-of-days', booking.period.asDays) }})</span>
                    </div>
                </td>
                {% if hasGlobalDiscount -%}
                <td rowspan="{{ hasTaxes ? (totalTaxes|length + 2) : 2 }}">
                    <div class="vspace2">
                        {{
                            __('discount-of-amount', [
                                globalDiscountRate|format_percent_number({max_fraction_digit: 4}, locale=locale),
                                totalWithoutGlobalDiscount|format_currency(currency, locale=locale),
                            ])
                        }}
                    </div>
                    <div class="vspace5 strong">
                        - {{ totalGlobalDiscount|format_currency(currency, locale=locale) }}
                    </div>
                </td>
                {% endif -%}
                <td rowspan="{{ hasTaxes ? 1 : 2 }}">
                    <div class="vspace2 center">
                        {% if hasTaxes -%}
                            {{ __('total-excl-tax') }}
                        {% else -%}
                            <strong class="size10">{{ __('total-due') }}</strong><br />
                            <span class="size9">{{ __('tax-not-applicable') }}</span>
                        {% endif -%}
                    </div>
                </td>
                <td rowspan="{{ hasTaxes ? 1 : 2 }}">
                    <div class="vspace2 right">
                        {{ totalWithoutTaxes|format_currency(currency, locale=locale) }}
                    </div>
                </td>
            </tr>
            {%- set firstTax = hasTaxes ? totalTaxes|first : null -%}
            {%- set otherTaxes = hasTaxes ? totalTaxes|slice(1) : null ~%}
            <tr class="center">
                <td rowspan="{{ hasTaxes ? (totalTaxes|length + 1) : 1 }}" colspan="2">
                    <div class="vspace5 strong">
                        = {{ totalWithoutGlobalDiscount|format_currency(currency, locale=locale) }}
                    </div>
                </td>
                {% if hasTaxes -%}
                <td>
                    <div class="vspace2 center">
                        {%-
                            set firstTaxValue = firstTax.is_rate
                                ? firstTax.value|format_percent_number({max_fraction_digit: 3}, locale=locale)
                                : firstTax.value|format_currency(currency, locale=locale)
                        ~%}
                        {{ firstTax.name }} ({{ firstTaxValue }})
                    </div>
                </td>
                <td>
                    <div class="vspace2 right">
                        {{ firstTax.total|format_currency(currency, locale=locale) }}
                    </div>
                </td>
                {%- endif ~%}
            </tr>
            {%- for tax in otherTaxes ~%}
            <tr class="center">
                <td>
                    <div class="vspace2 center">
                        {%-
                            set taxValue = tax.is_rate
                                ? tax.value|format_percent_number({max_fraction_digit: 3}, locale=locale)
                                : null
                        ~%}
                        {{ tax.name }}{{ taxValue is not null ? ' (' ~ taxValue ~ ')' : '' }}
                    </div>
                </td>
                <td>
                    <div class="vspace2 right">
                        {{ tax.total|format_currency(currency, locale=locale) }}
                    </div>
                </td>
            </tr>
            {%- endfor -%}
            {%- if hasTaxes ~%}
            <tr>
                <td>
                    <div class="vspace2 strong center">
                        {{ __('total-incl-taxes') }}<br>
                        {{ __('total-due') }}
                    </div>
                </td>
                <td>
                    <div class="vspace2 right strong">
                        {{ totalWithTaxes|format_currency(currency, locale=locale) }}
                    </div>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <p class="vspace5 size10">
        {{ __('estimate-acceptance-date') }}
    </p>
    <p class="size10">
        {{ __('estimate-acceptance-signature') }}
    </p>
</div>
{% else %}
<table class="totals-table">
    <tbody>
        <tr>
            <td>{{ __('duration') }}</td>
            <td>{{ __n('number-of-days', booking.period.asDays) }}</td>
        </tr>
        {% if hasGlobalDiscount or hasTaxes -%}
        <tr>
            <td>{{ __(hasGlobalDiscount ? 'subtotal' : 'total-excl-tax') }}</td>
            <td>
                {{-
                    hasGlobalDiscount
                        ? totalWithoutGlobalDiscount|format_currency(currency, locale=locale)
                        : totalWithoutTaxes|format_currency(currency, locale=locale)
                -}}
            </td>
        </tr>
        {% endif -%}
        {% if hasGlobalDiscount -%}
        <tr>
            <td>{{ __('discount-rate', globalDiscountRate|format_percent_number({max_fraction_digit: 4}, locale=locale)) }}</td>
            <td>- {{ totalGlobalDiscount|format_currency(currency, locale=locale) }}</td>
        </tr>
        {% if hasTaxes -%}
        <tr class="strong">
            <td>{{ __('total-excl-tax') }}</td>
            <td>{{ totalWithoutTaxes|format_currency(currency, locale=locale) }}</td>
        </tr>
        {% endif -%}
        {% endif -%}
        {% if hasTaxes -%}
        {% for tax in totalTaxes %}
        <tr>
            <td>
                {%-
                    set taxValue = tax.is_rate
                        ? tax.value|format_percent_number({max_fraction_digit: 3}, locale=locale)
                        : null
                ~%}
                {{ tax.name }}{{ taxValue is not null ? ' (' ~ taxValue ~ ')' : '' }}
            </td>
            <td>{{ tax.total|format_currency(currency, locale=locale) }}</td>
        </tr>
        {% endfor -%}
        {% endif -%}
        <tr>
            <td>
                {% if hasTaxes -%}{{ __('total-incl-taxes') }}{% endif -%}
                <div class="strong size12">{{ __('total-due') }}</div>
                {%- if not hasTaxes -%}{{ __('tax-not-applicable') }}{% endif ~%}
            </td>
            <td class="size12 strong">
                {{ totalWithTaxes|format_currency(currency, locale=locale) }}
            </td>
        </tr>
    </tbody>
</table>
{% if customText and customText.content is not empty %}
<div class="vspace2">
    {% if customText.title is not empty -%}
    <h2>{{ customText.title }}</h2>
    {% endif -%}
    <p class="size10">
        {{~ customText.content|nl2br }}
    </p>
</div>
{% endif %}
<p class="size10 {{ customText and customText.content is not empty ? 'spaceBottom5' : 'vspace5' }}">
    {{ __('estimate-acceptance-date') }}
</p>
<p class="size10">
    {{ __('estimate-acceptance-signature') }}
</p>
{% endif -%}

<div class="changePage vspace5">
    <table class="layout-table">
        <tr>
            <td class="half">
                {{-
                    include('blocks/company-address.twig', {
                        company: billingCompany,
                        showLegalNumbers: false,
                        showLogo: true,
                    })
                ~}}
            </td>
            <td class="half">
                <h2 class="box center">{{ __('estimate-details-title') }}</h2>
                <table class="layout-table">
                    <tr>
                        <td class="size12">{{ __('on-date', date|format_date('short', locale=locale))|ucfirst }}</td>
                        <td class="size12 right">{{ __('page', 2) }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

{% if extras|length > 0 %}
<h2>{{ __('materials') }}</h2>
{% endif %}
{%
    set categoryColspan = (isLegacy or not hasMaterialDiscount ? 2 : 3)
        + (showPictures ? 1 : 0)
        + (showDescriptions ? 1 : 0)
        + (showUnitPrices ? 2 : 0)
%}
<table class="listing-table">
    <thead>
        <tr>
            {%- if showPictures ~%}
            <th>{{ __('picture') }}</th>
            {%- endif ~%}
            <th>{{ __('designation') }}</th>
            {%- if showDescriptions ~%}
            <th>{{ __('description') }}</th>
            {%- endif ~%}
            <th class="center">{{ __('qty') }}</th>
            {%- if showUnitPrices ~%}
            <th class="center">{{ __(hasTaxes ? 'unit-price-excl-tax' : 'unit-price') }}</th>
            {%- endif -%}
            {%- if not isLegacy and hasMaterialDiscount ~%}
            <th class="center">{{ __('discount') }}</th>
            {%- endif -%}
            {%- if showUnitPrices ~%}
            <th class="right">{{ __(hasTaxes ? 'total-excl-tax' : 'total') }}</th>
            {%- endif ~%}
        </tr>
    </thead>
    <tbody>
        {%- for subCategory, materialsList in materials ~%}
            <tr>
                <td class="section-title" colspan="{{ categoryColspan }}">
                    {%- if subCategory == '--' -%}
                        {{ __('not-categorized') }}
                    {%- else -%}
                        {{ subCategory|replace({ '__other': __('other-materials') }) }}
                    {%- endif -%}
                </td>
            </tr>
            {%- for material in materialsList ~%}
            <tr>
                {% if showPictures -%}
                <td class="picture-cell">
                    <img
                        src="{{ material.material.picture ?: asset('/img/material-picture-placeholder.png', true) }}"
                        class="material-picture"
                    />
                </td>
                {% endif -%}
                <td>
                    <span class="listing-table__item__name">{{ material.name }}</span>
                    <span class="listing-table__item__sub-name">
                        {{- __('reference-value', material.reference ) -}}
                        {%- if showReplacementPrices and material.unit_replacement_price is not null -%}
                        {{- ' ' }}&bull;{{ ' ' -}}
                        {{-
                            __('unit-replacement-value', (
                                (material.unit_replacement_price ?? 0)|format_currency(currency, locale=locale))
                            )
                        -}}
                        {%- endif -%}
                    </span>
                </td>
                {% if showDescriptions -%}
                <td class="max50mm">
                    {{- material.material.description|nl2br -}}
                </td>
                {% endif -%}
                <td class="center">{{ material.quantity }}</td>
                {% if showUnitPrices -%}
                <td class="center">
                    {% if isLegacy -%}
                    {{ material.unit_price|format_currency(currency, locale=locale) }}
                    {%- else -%}
                    {{ material.unit_price_period|format_currency(currency, locale=locale) }}
                    {%- endif ~%}
                </td>
                {%- endif ~%}
                {%- if not isLegacy and hasMaterialDiscount ~%}
                <td class="center">
                    {{-
                        not material.discount_rate.isZero()
                            ? material.discount_rate.dividedBy(100, 6)|format_percent_number({max_fraction_digit: 4}, locale=locale)
                            : null
                    -}}
                </td>
                {%- endif ~%}
                {% if showUnitPrices -%}
                <td class="right">
                    {{ material.total_without_taxes|format_currency(currency, locale=locale) }}
                </td>
                {%- endif ~%}
            </tr>
            {%- endfor %}
        {%- endfor ~%}
    </tbody>
</table>
{%- if extras|length > 0 ~%}
<h2>{{ __('category-other') }}</h2>
<table class="listing-table">
    <thead>
        <tr>
            <th>{{ __('designation') }}</th>
            <th class="center">{{ __('qty') }}</th>
            <th class="center">{{ __(hasTaxes ? 'unit-price-excl-tax' : 'unit-price') }}</th>
            <th class="right">{{ __(hasTaxes ? 'total-excl-tax' : 'total') }}</th>
        </tr>
    </thead>
    <tbody>
        {%~ for extra in extras %}
            <tr>
                <td>{{ extra.description }}</td>
                <td class="center">{{ extra.quantity }}</td>
                <td class="center">
                    {{ extra.unit_price|format_currency(currency, locale=locale) }}
                </td>
                <td class="right">
                    {{ extra.total_without_taxes|format_currency(currency, locale=locale) }}
                </td>
            </tr>
        {%- endfor ~%}
    </tbody>
</table>
{%- endif ~%}
{% if showTotalisableProperties and totalisableProperties is not empty %}
<h2>{{ __('properties-totals') }}</h2>
<table class="half spaceBottom5 size8">
    <tbody>
        {%- for attribute in totalisableProperties ~%}
        <tr>
            <td>{{ attribute.name }}</td>
            <td>{{ attribute.value|format_number(locale=locale) }}&nbsp;{{ attribute.unit }}</td>
        </tr>
        {%- endfor ~%}
    </tbody>
</table>
{% endif %}
{% endblock %}