{% extends 'emails/base-with-code.twig' %}

{% block title -%}
    Password reset code
{%- endblock %}

{% block content %}
    <p>Hello,</p>
    <p>
        We have received a request to reset the password for the <strong>Loxya</strong>
        account associated with your email address.
        <br /><br />
        To proceed, please use the following verification code:
    </p>
    <div class="code">
        {% for char in code|split('') %}
            <span class="code__letter">{{ char }}</span>
        {% endfor %}
    </div>
    <p>
        This code is valid for {{ codeDuration }} minutes.<br /><br />
        If you did not request a password reset, you can safely ignore this message.
    </p>
    <p>
        <strong>{{ organization.name }}</strong><br />
        {{ organization.email }}<br />
        {{ organization.phone }}
    </p>
{% endblock %}